*Rplots.pdf
alleleCountPerGroupPerGene.binom.annotated.alleleFiltered.removedCODAMandOutliers.ALL.txt
alleleCountPerGroupPerGene.binom.annotated.alleleFiltered.removedCODAMandOutliers.splitOutliers.ALL.txt
alleleCountPerGroupPerGene.binom.annotated.alleleFiltered.removedCODAMandOutliers.OMIM.txt
alleleCountPerGroupPerGene.binom.annotated.alleleFiltered.removedCODAMandOutliers.CGD.txt
alleleCountPerGroupPerGene.binom.annotated.alleleFiltered.removedCODAMandOutliers.DDG2P.txt
alleleCountPerGroupPerGene.binom.annotated.alleleFiltered.removedCODAMandOutliers.splitOutliers.CGD.txt
alleleCountPerGroupPerGene.binom.annotated.alleleFiltered.removedCODAMandOutliers.splitOutliers.DDG2P.txt
alleleCountPerGroupPerGene.binom.annotated.alleleFiltered.removedCODAMandOutliers.splitOutliers.OMIM.txt
